[2016-12-09 00:10] cholcombe973 opened #1 "Note on installing"
Just a quick note for ubuntu 14.04.  I had to install texinfo to get cargo to compile libffi-sys.  I didn't see that in the .travis.yaml so I was a little confused how you got it working.

[2016-12-09 03:05] tov commented on #1
Huh, I'm not sure. Does Travis CI not install texinfo by default?

Is there something in the package I should change? What are you using it
for?

Jesse

On Thu, Dec 8, 2016 at 6:10 PM Chris Holcombe <notifications@github.com>
wrote:

Just a quick note for ubuntu 14.04. I had to install texinfo to get cargo
to compile libffi-sys. I didn't see that in the .travis.yaml so I was a
little confused how

[2016-12-09 03:29] cholcombe973 commented on #1
I'm potentially going to use libffi for callbacks from Ceph and Gluster.
I'm hoping it'll fit the bill. I started with Gluster today because i think
the callback mechanism is more straightforward. See:
https://github.com/gluster/Gfapi-sys/blob/master/src/glfs.rs#L9. It's used
in all the async calls. I'm thinking of having the caller pass a closure
for callback processing. The harder one is Ceph:
h

[2017-03-03 19:25] GeorgeKT opened #3 "The crates.io version of libffi-rs no longer builds"
You get these errors:
...
   Compiling bindgen v0.22.0
   Compiling libffi-sys v0.4.7
   Compiling libffi v0.4.0
error[E0432]: unresolved import `raw::FFI_DEFAULT_ABI`
   --> /home/joris/.cargo/registry/src/github.com-1ecc6299db9ec823/libffi-0.4.0/src/low.rs:118:24
    |
118 | pub use raw::{ffi_abi, FFI_DEFAULT_ABI, _ffi_type as ffi_type, ffi_status,
    |                        ^^^^^^^^^^^^^^^ no

[2017-03-04 01:04] tov commented on #3
Oops, thanks, I'll do it now.

[2017-03-04 01:09] tov commented on #3
Okay, hopefully that should do it.

[2017-03-05 12:19] GeorgeKT commented on #3
Yes, that fixes it.

[2017-03-05 12:19] #3 closed

[2017-07-14 17:08] aepsil0n opened #5 "Bump sys dependency?"
Related to tov/libffi-sys-rs#8

Since you fixed the issue above, it would be great if you could bump this library, too.

Thank you! :)

[2017-07-14 17:23] aepsil0n commented on #5
Just realized that the dependency on 0.5.2 is also satisfied by 0.5.3. Just had to run `cargo update`. But I guess it still makes sense to bump the version nonetheless.

[2017-07-14 17:25] tov commented on #5
Yeah, I was wondering about that. I've already started it, though, so libffi 0.6.1 will depend on libffi-sys 0.5.3.

[2017-07-14 17:25] #5 closed

[2017-11-12 12:33] #1 closed

[2017-11-13 15:06] Luthaf opened #6 "LibFFI fails to build"
I get the following error when trying to build libffi:

[code]

Any idea where this could come from?

I am on Linux Centos 7, with the latest stable rustc.

[2017-11-13 15:43] tov commented on #6
libffi-sys is using an updated version of bindgen. Maybe it's generating different bindings? I'll look into it—sorry for the trouble.

[2017-11-13 16:00] Luthaf commented on #6
Yes, this was my guess too =). Thank you for the very quick answer!

[2017-11-13 16:01] tov commented on #6
Git head libffi should build now, because it specifies an older version of libffi-sys. I can release libffi with that older version specified if you'd find that useful. Then I'm going to try to figure out how to make libffi work with the new generated bindings.

[2017-11-13 16:04] Luthaf commented on #6
Who, that was quick! I am fine without a release, I just wan to play around so I can use git dependencies in Cargo.toml. Thanks again for your reactivity!

[2017-11-13 16:25] tov commented on #6
Okay, it's fixed. I'll be releasing libffi 0.6.2 shortly, which should build against libffi-sys 0.6.0.

[2017-11-18 22:39] Luthaf commented on #6
Sorry, I forgot to close the issue. Everything is working perfectly =)

[2017-11-18 22:39] #6 closed

[2018-01-11 01:30] ehiggs opened #7 "libffi-rs fails to build"
Ubuntu 17.10

[code]

[code]

If I make the following test file, I can build it using gcc ((Ubuntu 7.2.0-8ubuntu3) 7.2.0):

[code]

I have `libffi-dev` installed so it would be nice if `pkg-config` and just used that version:

[code]

[2018-01-11 02:51] tov commented on #7
Thanks. I don't know what's causing this yet—maybe we have an incompatibility with the new version of Rust?

The reason the package doesn't attempt to use the system libffi-dev is that many systems provide a really old version of that.

[2018-01-11 03:02] tov commented on #7
So, it doesn't reproduce for me on Ubuntu 14.04.5. Do you know if this is a problem in libffi-sys rather than libffi? I wonder if a verbose build of libffi-sys would be revealing.

[2018-01-11 08:01] ehiggs commented on #7
Sorry, yes this is an issue with libffi-sys.

[2018-01-11 08:02] #7 closed

[2019-03-13 23:24] triptec opened #8 "libffi-rs fails to build on amazon linux"
I'm trying to build an application that uses libffi-rs to use in a aws lambda function. I've spent quite some time on this the last two weeks and I just can't get it to work. Works fine on ubuntu and manjaro when I've tried on those.

The output I get is [here](https://github.com/triptec/libffi-amzn/blob/master/log.txt)

I've tried to distill this as much as I can and have made a repo a with a sim

[2019-03-14 10:49] tov commented on #8
That sounds frustrating! Unfortunately I won’t be able to look at this for real for a few days, but the output you linked provides a clue. The symbol it's complaining about is defined by libffi [here](https://github.com/libffi/libffi/blob/master/src/types.c#L69). So it's weird that it's not finding it, unless that's the first symbol among many that it would fail to find? I'm not sure. But the othe

[2019-03-14 22:21] triptec commented on #8
Well in this small example that's the only symbol I've included but in the real project all used symbols from libffi fails to be found.
Also the reason -lffi isn't included in the final linking command is (I believe) that libffi-sys-rs actually builds libffi from source that is included in the libffi-sys-rs as a git submodule and the result of that compilation is pointed out by the " -L /src/targe

[2019-03-14 23:21] triptec commented on #8
So I've looked at the output of "nm" to see if the symbols exists in [libffi.a](https://github.com/triptec/libffi-amzn/blob/master/libffi.a.symbols.txt) and [libffi.so](https://github.com/triptec/libffi-amzn/blob/master/libffi.so.symbols.txt) and indeed they are there.

I've also learned that the order of objects when linking matters so that would be interesting to look into but I'm really not sur

[2019-03-14 23:42] tov commented on #8
I'm not sure how to tell Cargo to link in a different order, but you can see the link command it's running and try running permutations of that my hand.

Also, I wonder what `nm` says about the various things being linked by that final linking command. Though if the symbols in question are in an rlib, I don't know how to look inside that.

Also, I don't know anything about the AWS/lambda environme

[2019-03-15 00:33] triptec commented on #8
using strace i found this is how ld is called, not sure there's any useful info but what do I know
[code]

[2019-03-15 07:37] triptec commented on #8
I missed your response but yeah now that I have the linking args I will fiddle with that a little bit.
But first I think I will see if I can point out the libffi.a or libffi.so directly to `ld` in some way.
Second I think I will try a newer amzn linux than the one that runs on lambda and see if it works there, if that doesn't work perhaps try centos 6 which it's supposed to be based on

About the

[2019-03-15 09:53] triptec commented on #8
output from bindgen is somewhat different, on ubuntu where it works I get link_names like  [ link_name = "\u{1}ffi_type_void" ], but on amazonlinux it's [ link_name = "\u{1}_Z13ffi_type_void" ]

[2019-03-15 10:13] triptec commented on #8
Finally!!
Adding .trust_clang_mangling(false) to the bindgen command in build.rs in libffi-sys-rs did the trick!

[2019-03-17 08:06] tov commented on #8
Did the trick as in fixed the whole problem?

Do you know if changing that would work on other platforms? Should we change it only on Amazon Linux?

[2019-03-17 08:12] triptec commented on #8
Yeah, fixed the whole problem.
About changing it for all platform, I'm running it on my local environment on manjaro and that seems work as well. I wonder what's the true problem, maybe it's just old versions of clang that should have it.

[2019-08-17 23:28] dougabugg opened #10 "libffi 0.7.0 on docs.rs failed to build"
Hi, I'm not sure if this is an issue with libffi-rs/libffi-sys-rs or with docs.rs, but the current page for libffi-rs 0.7.0 on docs.rs says it [failed to build](https://docs.rs/crate/libffi/0.7.0). You can see the [build output here](https://docs.rs/crate/libffi/0.7.0/builds/159544), although the interesting bits in the output have `\n` escaped, so I attempted to fix the output:

[code]

Unfortuna

[2019-08-29 18:42] tov commented on #10
Thanks. I think this might be because of an unsatisfied dependency on `texinfo`. I know that was a thing in the past, and I had `.travis.yaml` installing that package. But I thought someone managed to remove the dependency. I’ll look into it…

[2019-08-29 18:43] tov commented on #10
Hmm, this is still there, though:

[code]

[2019-08-29 19:09] tov commented on #10
So I guess the question is can we either 1) not depend on `texinfo` or 2) get docs.rs to make it available.

[2019-08-29 19:14] tov commented on #10
This actually belongs here: https://github.com/tov/libffi-sys-rs/issues/24

[2019-08-29 19:14] #10 closed

[2020-10-19 12:39] YorickPeterse commented on #8
It's been a while since the last comment on this issue. In the upcoming libffi release we no longer depend on clang, so this shouldn't be a problem any more. I'll close this issue.

[2020-10-19 12:39] #8 closed

[2020-10-19 12:43] YorickPeterse opened #15 "Release 1.0.0"
Once libffi-sys-rs 1.0.0 is released (https://github.com/tov/libffi-sys-rs/issues/39), we can start working towards version 1.0.0 of the libffi crate. For this release it would be nice to also include ARMv7 support as added in https://github.com/tov/libffi-rs/pull/14, though that PR may need to be rebased after updating libffi-rs for libffi-sys-rs 1.0.0

## TODO

* [x] Release libffi-sys-rs 1.0.0

[2020-10-24 22:04] AndrewGaspar commented on #15
Glad to see you guys are putting out 1.0.0! Do you think this will be done soon? It would be really nice to get rid of the bindgen dependency - currently we're having to use an old version of bindgen in https://github.com/rsmpi/rsmpi.git because of the version 0.9.0 is using.

[2020-10-24 22:18] YorickPeterse commented on #15
@AndrewGaspar This issue is blocked by https://github.com/tov/libffi-sys-rs/issues/39, which I can finish once I get a hold of @tov :smiley:

[2020-10-24 22:53] YorickPeterse commented on #15
Version 1.0 is now released.

[2020-10-24 22:53] #15 closed

[2020-10-27 02:59] AndrewGaspar opened #16 "Support alternative ABIs/calling conventions (specifically "stdcall")"
A small issue with this crate is that it doesn't support any calling conventions other than the system's default ABI, even though libffi supports many different calling conventions. Unfortunately, I have a Windows API that uses the `"stdcall"` calling convention. This is more-or-less OK because most of my users are on x86-64 where "stdcall" is equivalent to "C" on x86-64, but it is different on 32

[2020-10-27 03:00] AndrewGaspar commented on #15
Thank you for doing this - much appreciated!

[2020-10-27 10:58] timfish commented on #16
Am I correct in thinking that changing all instances `extern "C"` to `extern "system"` will fix this?

[2020-10-27 13:00] YorickPeterse commented on #16
@timfish I'm not sure, but if that's the case then it seems like it would be an easy fix :smile:

[2020-10-27 13:03] timfish commented on #16
I made this change to some of my code to get callbacks working on win32 but I doubt I fully understand the implications.

Bindgen currently defaults to outputting extern "c" and I don't understand why it doesn't default to "system" 🤷‍♂️

[2020-10-27 14:37] AndrewGaspar commented on #16
The documentation says `extern "system"` is equivalent to `extern "stdcall"` on Windows: https://doc.rust-lang.org/stable/reference/items/external-blocks.html#abi

However, I don't think just changing `extern "C"` to `extern "system"` is a viable solution - it would break a bunch of code simply because function pointers don't implicitly or explicitly convert, even if they're technically the same c

[2020-10-27 14:41] AndrewGaspar commented on #16
Oh, also, it seems to me that `FFI_DEFAULT_ABI` for 32-bit x86 Windows is not equivalent to `extern "system"` or `extern "stdcall"`, it's equivalent to `extern "cdecl"` - you'd need to explicitly use `FFI_STDCALL`. https://github.com/libffi/libffi/blob/7855656148b96c7070ec362d2a73af840025a2b7/src/x86/ffitarget.h#L111

[2020-10-27 14:53] AndrewGaspar commented on #16
This is probably an existing bug in the `libffi` crate?

[2020-10-27 16:50] timfish commented on #16
Yeah, you're probably right there!

I would guess all the tests are passing on `i686-pc-windows-msvc` because they're all calling back into Rust code which is compiled with the same calling conventions. My code is also compiled for `i686-pc-windows-msvc` and works on both x86 and x86-64, but again I'm only using it to wrap Rust closures which are compiled with the same calling conventions.

The on

[2020-10-27 17:35] AndrewGaspar commented on #16
Yeah, though it's a little frustrating that `libffi-sys`'s definitions for the `ffi_abi` values are only for a specific arch: https://github.com/tov/libffi-sys-rs/blob/e34d0d92efb6c23028ee5cc3d29f08c22a1827fd/src/lib.rs#L83

But I guess not a deal breaker.

[2020-10-27 17:46] timfish commented on #16
Yes, so the constants are incorrect for some platforms. This is caused by dropping the bindgen dependency and using statically generated bindings.

Could you put together a PR that uses `#[cfg(...)]` attributes to ensure that these constants are all correct for each platform and arch?

@YorickPeterse does this sound ok to you?

[2020-10-27 17:56] timfish commented on #16
I still have no idea how the tests are passing with the incorrect `ffi_abi_FFI_DEFAULT_ABI` on some platforms 🤷‍♂️

[2020-10-27 18:01] AndrewGaspar commented on #16
Might be able to take a look at this tonight.

[2020-10-27 18:56] YorickPeterse commented on #16
@timfish Using a `cfg` sounds the right approach for using the proper value.

[2020-10-28 02:45] AndrewGaspar commented on #16
After a bit more testing, it definitely isn't OK that `FFI_STDCALL` is being used - I stuck the call to `code_ptr` inside a loop and that causes a `STATUS_ACCESS_VIOLATION` pretty quickly. Well, these two issues are definitely related. I'll try to fix.

[2020-10-29 01:24] AndrewGaspar commented on #16
OK - it's basically ready to go.

[2020-11-02 14:22] YorickPeterse commented on #16
https://github.com/tov/libffi-rs/pull/13 has been merged.

[2020-11-02 21:44] AndrewGaspar commented on #16
Awesome - I'll try to submit a PR tonight.

[2020-11-11 18:54] YorickPeterse commented on #16
With https://github.com/tov/libffi-rs/pull/17 merged I believe this can be closed. I'll be publishing a new release of libffi-sys today.

[2020-11-11 18:54] #16 closed

[2020-11-11 19:01] YorickPeterse commented on #16
This and the ARM fixes by @timfish have been released in libffi-sys-rs 1.1.0. Thanks all!

[2021-02-01 22:21] torsteingrindvik opened #19 "Need some beginner documentation"
Hi, thanks for this great crate.

I'm not sure how to store the intermediate types in a struct, could an example of this be added?

I'll give some context.

This works:

[code]

However, I would like this user API to only need to specify the first closure. So something like:

[code]

This means I have to do the other work further down in the call-chain, and store all the functions somewhere.

My a

[2021-04-29 09:26] cher-nov opened #20 "libffi-sys refuses to build with gnu toolchain on Windows"
[code]

This looks similar to this issue:
https://github.com/tov/libffi-sys-rs/issues/16

Shell command:
[code]

My setup:
[code]

GCC version:
[code]

[2021-04-29 11:13] xtldr opened #21 "Issue with nested structs"
The code below triggers reading freed memory:
[code]
The output is:
[code]

When running the program through `valgrind --tool=memcheck` I get the output:
[code]

inner_struct is dropped in libffi::middle::types::ffi_type_array_create can be accessed through outer.

If I change the loop in ffi_type_array_create to:
[code]

I get the correct output ("Offsets: [0, 4]"). Not sure if this introduces le

[2021-04-29 11:18] YorickPeterse commented on #20
@cher-nov Could you re-run the command with `RUST_BACKTRACE=1` set? That may help determining what step exactly fails.

I suspect it's due to the custom target being specified, IIRC libffi uses slightly different names for some of them, but I'm not certain if that's the case here.

[2021-04-29 11:22] YorickPeterse commented on #21
I'm not sure if the `forget()` call is the right approach here. I would expect it to leak as `element` won't have its destructor run. @tov do you perhaps know more about this?

[2021-04-29 13:05] cher-nov commented on #20
Sure.

<details><summary>RUST_BACKTRACE=1</summary>

[code]
</details>

<details><summary>RUST_BACKTRACE=full</summary>

[code]
</details>

[2021-04-29 16:38] YorickPeterse commented on #20
@cher-nov It looks like the build script is running the build process for Unix systems. If you're not running inside something like MSYS2, that won't work. In this case it's failing because (I'm guessing) it can't find the `cp` command. I'm guessing this is because you're using `cargo +nightly-i686-pc-windows-gnu`, which results in `target_env` _not_ being set to `msvc`, resulting in the build scr

[2021-04-30 12:11] YorickPeterse commented on #20
@cher-nov Support for it would indeed be nice. Unfortunately, I'm not familiar enough with Windows to actually implement it :/

[2021-05-03 09:19] xtldr commented on #21
The problem is that the `low::ffi_type` of `element` is copied to new, but then `element` is dropped and the `ffi_type` deallocated.
I tried changing the loop to `*new.add(i) = ffi_type_clone(*element.0);` and it also works.

Since `Type::drop` only deallocates it's type and in this case the type is already copied, I think it should be safe, but I might be wrong.

[2021-05-03 16:16] YorickPeterse commented on #21
@xtldr Ah, in that case feel free to set up a pull request and I'll include the changes :)

[2021-05-04 08:10] xtldr commented on #21
@YorickPeterse I have set up a pull request. I'm new to GitHub, so if there are any problems with it please let me know.

[2021-05-04 21:15] YorickPeterse commented on #21
@xtldr It seems you submitted the PR to your own fork (https://github.com/xtldr/libffi-rs/pull/1), instead of this project. I'm not sure if you can change an existing PR, so you may need to set up a new one. IIRC the way to do that is to go to _this_ project, then create a PR from there.

[2021-05-05 03:46] xtldr commented on #21
@YorickPeterse Yeah, I got confused when Github offered to create a pull request when I used the online editor for creating the patch. I did a new pull request against this repo, and it seems ok.

[2021-05-06 19:22] yorickpeterse opened #24 "PowerPC builds are failing with a core dump"
This can be seen in the tests from https://github.com/tov/libffi-rs/pull/23, but it's been around for a while (e.g. I saw it with other PRs/comits).

I don't know anything about PowerPC, nor do I have access to PowerPC hardware. The error provided is also completely useless. Either way, we should either find a way to fix these tests or somehow allow them to fail.

[2021-05-06 20:03] YorickPeterse commented on #21
Fixed in https://github.com/tov/libffi-rs/pull/23, which has been released on crates.io

[2021-05-06 20:03] #21 closed

[2021-05-12 15:56] maekawatoshiki opened #25 "Fix the link to 'C libffi documentation'"
On [this page](https://docs.rs/libffi/1.0.1/libffi/raw/index.html), the link to [C libffi documentation](http://www.atmark-techno.com/%7Eyashi/libffi.html) looks expired.

[2021-05-12 18:48] YorickPeterse commented on #25
https://sourceware.org/libffi/ doesn't seem to contain any links to official documentation. If anybody knows of a good place to link to, please submit a pull request :smile:

[2021-05-27 17:51] cher-nov commented on #20
If using `\usr\bin` from [Git for Windows](https://gitforwindows.org) installation folder, which contains some bits of coreutils including the `cp` utility, then it fails with another error:

[code]

Thus, it seems the only proper option to operate with Rust's GNU toolchain on Windows is by using the [MSYS2](https://www.msys2.org) environment, including its own terminal (because `cmd.exe` simply w

[2021-05-27 19:26] YorickPeterse commented on #20
@cher-nov You should be able to use libffi-rs just fine under a proper vistual studio setup. I've been using it there successfully without trouble.

Where things can go wrong is when you start mixing regular Windows tools and GNU tools. For example, if you use the Rust GNU toolchain then IIRC you also must run inside MSYS2 or similar; otherwise the build script and/or libffi itself get confused. S

[2021-05-27 19:40] cher-nov commented on #20
Of course, but that's definitely what I'm trying to avoid as I don't like MSVC. :)
I posted a MSYS2 mention just to let others know how to deal with such situation.

[2021-08-11 16:07] Monadic-Cat opened #26 "`.code_ptr()` method unsound"
The [`code_ptr`](https://docs.rs/libffi/1.0.1/libffi/high/arity0/struct.Closure0.html#method.code_ptr) method on the `ClosureN` structs in the `high` interface is unsound, as `fn(...) -> R` pointers are `Copy`, so you can copy the returned function pointer out from behind the reference with the appropriate lifetime and "safely" call them after the backing closure has been dropped.

[2021-08-11 16:29] Monadic-Cat commented on #26
These two options have been suggested in conversation in the Rust Community server on Discord:
- Make the returned `fn` pointer `unsafe` to call. (e.g., `unsafe extern "C" fn() -> R`)
- Return it inside a `#[repr(transparent)]` wrapper struct to enforce the lifetime
[code]
  It is worth noting that this option would mean that calling the returned function on the Rust side would require going throu

[2021-08-11 16:54] YorickPeterse commented on #26
The `high` interface as a whole is a bit dodgy. I don't use it myself so I haven't really done anything about it. Given this is a high-level interface, I think a wrapper type is best. Making it `unsafe` feels a bit too fragile.

[2021-08-15 19:46] Monadic-Cat commented on #26
I might be interested in working on improving the `high` interface, though I don't currently use it either. (I only filed this issue because someone in a Q/A channel I frequent was stumbling over this particular soundness hole.)

[2021-08-17 19:12] YorickPeterse commented on #26
Fixed by https://github.com/tov/libffi-rs/pull/27

[2021-08-17 19:12] #26 closed

[2021-08-17 19:15] YorickPeterse commented on #24
In https://github.com/tov/libffi-rs/commit/e0b8404ef6ec554be75bd9252d3b7567f5057f66 I disabled the PowerPC tests to reduce the test noise. I'll leave this issue open in case anybody wants to take a stab at resolving this issue properly.

[2021-08-17 19:18] #25 closed

[2021-08-17 19:42] YorickPeterse commented on #26
The fix for this is released in version 2.0.0. Thanks for fixing the soundness hole! :tada:

[2021-09-09 10:41] bukhalo opened #28 "libffi-sys-rs fails to build on OpenBSD amd64"
I'm trying to build `libffi-sys` on OpenBSD current amd64, but get error:

[code]
Unfortunately, I don't write in Rust, so I can't fix the error. Maybe someone can help me?

If there is a need, I can help with debugging on my computer

[2021-09-09 11:27] YorickPeterse commented on #28
@bukhalo Do you have Make installed? Also can you try to build libffi without setting the autoconf and automake variables?

[2021-09-09 11:47] bukhalo commented on #28
@YorickPeterse Yes, make is installed. I can't build `libffi` without env vars:
[code]
Trying to find `autoconf` version:
[code]
Run again:
[code]
Also I can try to choose other versions of `automake` and `autoconf` if that need:
[code]

I also tried to build `libffi` by hand and as far as I understand there is no problem with that.

[code]

[2021-09-09 16:57] YorickPeterse commented on #28
@bukhalo Does `gmake` also work? We use the `make-cmd` crate to determine the Make executable to use. Per https://github.com/mneumann/make-cmd-rs/blob/master/src/lib.rs, it seems this is hardcoded to use `gmake` on OpenBSD, unless we use the `bsd_make()` function.

I guess the use of this crate is a bit redundant. We could/should probably just default to `make`, as IIRC libffi doesn't really care

[2021-09-09 17:37] bukhalo commented on #28
@YorickPeterse Thank you! After installing `gmake`, everything works as it should

[code]

[2021-09-10 16:16] YorickPeterse commented on #28
This has been fixed with the release of libffi-sys 1.1.3.

[2021-09-10 16:16] #28 closed

[2021-10-22 21:51] fanninpm opened #30 "Outdated version of vendored `libffi` causes build error on macOS Big Sur with M1 processor"
FYI, I'm testing this from the RustPython project, whose `jit` feature imports an outdated version of this library. RustPython/RustPython#3050 updates the `libffi` crate to v2.0.0, which unfortunately still has this problem. A workaround is to specify the `system` feature.

<details>
<summary>Output from <code>cargo build</code></summary>

[code]
</details>

The current version of `libffi` is v3.4

[2021-10-24 14:24] #30 closed, assigned to nobody

[2021-10-25 12:56] ry opened #32 "Unnecessary build dependency on autotools"
Because libffi is included as a git submodule, autotools are unnecessarily required to build. This is not the intended release strategy for autoconf - the configure script is meant to be generated as part of the release.

Would you accept a PR to include the libffi source code (not as a git submodule) plus the generated configure script to reduce the build dependencies?

[2021-10-26 16:35] #32 closed, assigned to nobody

[2021-11-07 21:39] Monadic-Cat opened #34 "`high` interface soundness"
These are the soundness issues I'm aware of in the `high` interface:
- [ ] It erases all auto trait information attached to closure captures (read: `Send` and `Sync`)
- [ ] It erases mutability required to call closures (read: `ClosureMutN` can be called by shared reference)

There may be more that I'm not aware of, though the pattern seems to be that the `high` interface erases too much informati

[2021-11-07 23:14] YorickPeterse commented on #34
@xacrimon I received your Email about the soundness issue, but hadn't had time to reply yet. Since this issue exists here now, let's keep the conversation here. That way the same things won't be discussed in two different places :smile:

@Monadic-Cat You're right the API has some soundness issues. [We had them in the past as well](https://github.com/tov/libffi-rs/issues/26) (just noticed you also

[2021-11-07 23:17] YorickPeterse commented on #34
To add to that: my rough long term idea would be to nuke the high/mid APIs, make "low" the only API, then gradually try to make the APIs safe where it makes sense. 100% safety probably never will be achieved due to how libffi works, but there are probably places where we can make improvements.

[2021-11-07 23:23] YorickPeterse commented on #34
@ry Which API are you folks using for Deno? If this isn't the low-level API I'd like to know more about this, before I toss away something Deno depends on.

@timfish Which API are you using? I _think_ you mentioned using the low-level API in the past, but I might be mixing up GitHub users.

[2021-11-08 11:08] timfish commented on #34
I used to use `libffi::high` but not now!

[2021-11-08 15:26] xacrimon commented on #34
@YorickPeterse Great! When we do land fixes, we should probably `yank` the affected versions as per crates.io recommendations. I cannot get fixes done at the moment however. I'll go file an advisory for this.

[2021-11-08 15:49] timfish commented on #34
A quick search of GitHub shows these public usages of `libffi::high`:

https://github.com/manyuanrong/deno-ffi
https://github.com/sisungo/euola-vm
https://github.com/mofeing/ossia-rs

[2021-11-08 19:04] YorickPeterse commented on #34
@xacrimon I won't be yanking anything, because:

1. It may break builds for people using said versions
2. We'd basically have to yank everything, since all versions are affected

Given the risk factor being small, it simply isn't worth it.

[2021-11-08 19:20] xacrimon commented on #34
@YorickPeterse Fair, your call. That’s said yanking shouldn’t break existing builds.

[2021-11-09 01:03] YorickPeterse commented on #34
That's only the case for projects keeping their `Cargo.lock` under version control. Libary projects (e.g. like libffi-rs itself) typically don't track `Cargo.lock`, and will likely start running into trouble the moment you yank a crate.

[2021-11-09 10:24] danielhenrymantilla commented on #34
You could release a new semver-compatible release for all the to-be-yanked / unsound releases out there, with a `#![deprecated…]` annotation on it nudging users to upgrade, which, coupled with the `cargo audit`-visible advisory, would give users a loud enough warning and time for them to upgrade (only those without `cargo-audit` and with a `Cargo.lock` would be oblivious to this, but then those wo

[2021-11-20 15:17] chachi opened #35 "Get function pointer from high-level `FnPtrX`"
The soundness fixes of https://github.com/tov/libffi-rs/pull/27 are great, but now I don't see an obvious means of passing the `FnPtrX` struct across a C API as an `extern "C" fn` pointer directly as before. The `func` member is private so what would the correct means of getting that pointer be?

[2021-11-20 23:54] YorickPeterse commented on #35
@chachi See https://github.com/tov/libffi-rs/issues/34 regarding issues with the `high` interface. With those issues in mind, I don't want to change the API; rather I'd remove it entirely. I'm not sure what you're using libffi for, but you may be better off using either the mid or low API :smiley:

[2021-11-21 17:48] chachi commented on #35
That's reasonable but the high-level API is really nice for minimal boilerplate passing of a Rust closure as a callback to a C API. It does indeed require some careful lifetime management to make sure things passed to C are scoped correctly and exist for the right lifetimes, but a sprinkling of `unsafe` seems like it'd get that point across well.

Overall I'm a huge fan of the magic the `high` mod

[2021-11-23 05:37] Monadic-Cat commented on #35
To answer the question:

It is valid to both transmute a `FnPtrX` to the corresponding `extern "C" fn` pointer, and to use it in place of the `extern "C" fn` pointer type in an FFI declaration, as it is a `#[repr(transparent)]` struct containing only that and the lifetime carrying `PhantomData`. (That is, it's ABI compatible with the wrapped fn pointer.)

[2021-12-01 22:08] tov commented on #34
As a first step, may I suggest documenting these soundness problems in a prominent place?

[2021-12-01 22:12] tov commented on #34
Also, sorry about the soundness problems. Eek!

[2021-12-03 18:20] tov commented on #34
From what I can tell, the `ClosureMut`*N* problem can be solved by making `ClosureMut`*N*`::code_ptr()` take `&mut self`.

The `Send`/`Sync` problem looks harder, but I have a few ideas.

[2021-12-03 18:29] tov commented on #34
Actually, I’m a bit confused by

because currently the <tt>Closure…*N*</tt> types are `!Send` and `!Sync`. Unless I misunderstand, this means that it isn’t a soundness problem but expressiveness problem: We can’t make `Send` and/or `Sync` closures. Am I missing something?

[2021-12-03 21:32] tov opened #36 "Support libffi error status FFI_BAD_ARGTYPE"
Currently we recognize only `FFI_BAD_ABI` and `FFI_BAD_TYPEDEF`, which we translate to `Error::Typedef` and `Error::Abi`. As of now, `FFI_BAD_ARGTYPE` gets translated to `Error::Abi` (which maybe isn’t strictly incorrect?). But it would be better to add a third enumerator, `Error::Argtype` for representing `FFI_BAD_ARGTYPE`. This isn’t difficult, but it will require a major version bump.

[2021-12-03 21:36] tov opened #37 "Should low::CodePtr be repr(transparent)?"
Right now it’s `repr(C)`, and I’m not sure whether that’s strictly correct.

[2021-12-04 00:56] danielhenrymantilla commented on #34
Yep, `FnPtrN` is not `Sync`, and yet one can get a `&FnPtrN` from a `&ClosureN`, which seems fishy / likely UB (I haven't looked at the implementation, just the signatures):

[code]

[2021-12-05 20:05] tov commented on #34
I’m wondering whether the auto traits can be threaded through from the original <tt>Fn*</tt> to the <tt>FnPtr<em>N</em></tt> as a phantom parameter.

No external synchronization afaik.

I believe that changing that `code_ptr()` method to take `&mut self` will solve this. Am I missing something?

[2021-12-06 00:10] danielhenrymantilla commented on #34
Regarding threading the auto-traits, feel free to look at https://docs.rs/stackbox/latest/src/stackbox/dyn_traits/any.rs.html#31-40 for a not-so-far example;

Once that's done, the auto-trait issue will be fixed, and indeed if `code_ptr()` takes a `&mut` it would then be fine. Was there something else, @Monadic-Cat?

[2021-12-06 16:59] Monadic-Cat commented on #34
That's all I'm aware of, but I don't have high confidence that that's all.
(I'm the one who missed these problems just long enough to not fix them in #27, after all.)

[2021-12-22 20:36] tov commented on #34
So, I believe #40 fixes the mutability erasure problem. I think it should be merged, but I’d like a second opinion first.

The auto trait problem is tougher. #42 makes <tt>FnPtr<i>N</i></tt>  `!Send` and `!Sync`, which I believe fixes the soundness problem but severely limits expressiveness. It should be equally straightforward to make everything (<tt>FnPtr<i>N</i></tt> and <tt>Closure<i>*N</i></t

[2022-01-15 08:05] piggynl opened #47 "`libffi-sys` fails to build on `riscv64gc-unknown-linux-gnu`"
Rust uses `riscv64gc-unknown-linux-gnu` while `./configure` uses `riscv64-unknown-linux-gnu`. One solution is the patch below. Is there a better way to handle this?

[code]

[2022-01-15 08:57] restitux opened #48 "Support for creating closures that take bindgen generated types"
I'm trying to pass a rust closure to a C library as a callback using the `high` interface and the `code_ptr` function. The callback is passed a C struct as the only argument. I'm running into issues using the `high` API as the rust type that `bindgen` generates that maps to this argument doesn't implement the required `CType` trait.

This struct is declared `repr(C)` so I imagine this all should b

[2022-01-15 14:49] YorickPeterse commented on #47
If these are indeed the exact same architectures (just using different names) I think a change like this plus a comment describing why should be fine.

[2022-02-01 14:17] piggynl commented on #47
Thanks! I will do it in a PR.

[2022-02-01 22:53] #47 closed

[2022-02-13 11:42] alisomay opened #52 "unresolved import `crate::raw::ffi_type_longdouble`"
I started to get an error in my crate which uses libffi today.
Any ideas?

[code]

[2022-02-13 11:56] alisomay commented on #52
The lines in focus are,

[code]
I'm compiling in `stable-aarch64-apple-darwin`

[2022-02-13 14:28] YorickPeterse commented on #52
@alisomay Pleasy try using the latest versions of both `libffi` and `libffi-sys`. Some changes related to long double were released recently, so this problem may have already been fixed.

[2022-02-13 14:33] YorickPeterse commented on #52
@alisomay Please try libffi-rs 2.0.1, I think it should solve the issue.

[2022-02-13 15:04] alisomay commented on #52
Yup fixed!
Thanks a lot, you may close the issue if you wish.

[2022-02-14 13:51] #52 closed

[2022-03-03 18:16] joshburkart commented on #35
@Monadic-Cat Any chance you could provide an example? I'm unable to figure out how to convert your advice into code...

[2022-04-22 11:29] vext01 opened #54 "How to safely use the middle API when the signature isn't know until runtime."
Hi,

I've recently needed to use the `libffi` crate to allow an interpreter to make native calls to external functions whose signatures are not known until runtime.

The examples in the repo demonstrate using statically-known signatures (and thus static arrays of arguments). The examples are of limited utility, because if you knew the signatures you wanted to call ahead of time, you'd just call an

[2022-04-22 13:48] vext01 commented on #54
should be:

[code]

i.e. `f` not `&f`.

Question still stands though.

[2022-04-22 14:04] YorickPeterse commented on #54
I can't really answer this unfortunately, as I don't use the high or middle APIs myself. Instead I'm using the low-level APIs, as I found it easier to bind to from my language. With that said, I think it's going to be difficult to have an API that doesn't require any `unsafe` code, as the very idea of libffi is unsafe times 100. Maybe @tov can answer your question, but he's only active sporadicall

[2022-04-22 14:55] vext01 commented on #54
Just to clarify, my question is not about whether the API can be safe. libffi is obviously rather unsafe by definition.

My question is more about how the authors of the crate intend their API be used for dynamically-typed calls without invoking UB.

[2022-05-09 19:58] r0nsha opened #55 "middle::Cif needs a variadic variation for its new function"
While transitioning from the `low` api to the `middle` api, I found that there is no `new_variadic` function for Cif, which is a must for me. I can't create a pull request, so I'm pasting the function I created for myself here in hope that some variation of this function will be merged :)

[code]

[2022-06-20 08:54] r0nsha commented on #55
Closing in favor of a [PR](https://github.com/tov/libffi-rs/pull/56)

[2022-06-20 08:54] #55 closed

[2022-07-24 07:21] Phosra opened #57 "Support function pointer type"
Upstream issue: <https://github.com/denoland/deno/issues/15292>.

It seems that libffi-rs doesn't provide a function pointer type, but after further investigation, it seems that this is because the C libffi does not support this, so I will open an issue there too; feel free to subscribe to the downstream issue.

Nonetheless, in the meanwhile, it does seem that libffi-rs misuses `*const c_void` as

[2022-07-25 21:28] YorickPeterse commented on #57
@Phosra Out of curiosity, on what platforms would this be unsound?

[2022-07-25 23:46] Phosra commented on #57
Admittedly, such platform would likely be a Harvard architecture platform that doesn't implement POSIX - in practice... it's very unlikely to encounter such a platform, even less so for one with different sizes.

Although, it's possible to find maybe a Harvard embedded platform? How that could possibly affect FFI, I suppose it could be useful for interacting with native code after developing and r

[2022-09-21 09:26] oli-obk commented on #20
I believe this is related to the issues we're seeing in https://github.com/rust-lang/rust/pull/102028#issuecomment-1253440015 as it's solely mingw builds that are failing.

[2022-09-21 14:52] YorickPeterse commented on #20
@oli-obk Any help with this would be much appreciated, as my understanding of developing on Windows is very limited, and last time I looked into this I wasn't able to figure out why it fails.

[2022-09-22 06:39] ArchGuyWu commented on #20
Is there anyone still fail to build libffi-sys on windows?You may need to install [mingw-w64-x86_64-autotools] to get it work.

[2022-09-22 07:15] oli-obk commented on #20
I don't believe it's missing tooling, unless some other errors are hidden. The error we see is

[code]

yea, it's on the low priority list, but we definitely want to fix this

[2022-09-22 12:35] ArchGuyWu commented on #20
@oli-obk Only this error?I also got another error "Program not find".

[2022-09-22 12:47] ArchGuyWu commented on #20
It got compiled after installing autotools.
![Uploading Annotation 2022-09-22 204537.png…]()

[2022-09-22 13:25] YorickPeterse commented on #20
@ArchGuyWu Autotools is supposed to not be necessary since we bundle the necessary files, and we don't use it ourselves. It's possible the generated Makefile somehow still depends on something provided by it on MSYS2, in which case that should be resolved.

[2022-09-22 14:01] ArchGuyWu commented on #20
Autotools is a meta package,which just pulls in other packages,so we can try to figure out the Makefile exactly depends on which package.

[2022-11-01 19:36] jafri opened #60 "Kernel `windows` not known to work with OS `gnu`"
On M1 Mac, running rust with target x86_64-pc-windows-gnu

[code]

 Backtrace

[code]

[2022-11-02 00:44] YorickPeterse commented on #60
@jafri Please provide some sample program that can reproduce this problem, along with the exact command used to compile it. A backtrace alone isn't enough to debug (cross) compilation problems.

[2022-11-09 00:26] YorickPeterse commented on #60
@jafri This is a friendly reminder to please provide a way to reproduce this issue. Without it there's nothing we can do to help.

[2022-11-09 01:25] jafri commented on #60
Was not able to reproduce